@media (min-width: 700px) {
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: rgb(0, 0, 0);
}
}

@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        
        margin: 0;
        background: rgb(0, 0, 0);
        position: static;
    }
}
main {
    width: 1440px;
}

.header_background {
    width: 1440px;
    height: 161px;
    background: linear-gradient(90deg, #4131B7 0%, #1D1651 60.5%);
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.header_logo {
    width: 339px;
    height: 74px;
    position: relative;
    top: 43px;
    display: flex;
    align-items: center;
}

.header_logo_image { 
    width: 100px;
    height: 74px;
}

.header_navigationPanel_item:hover, .header_navigationPanel_logo:hover{
    cursor: pointer;
    color:#2DBC7C;
}

.logo_style {
    font-family: 'K2D';
    font-style: normal;
    letter-spacing: 0.04em;
}

.header_logo_text {
width: 222px;
font-size: 48px;
margin: 0 0 0 17px;
line-height: 62px;
}

.text_color_2DBC7C {
    color: #2DBC7C;
}

.text_color_E6A800 {
    color: #E6A800;
    }

.text_color_F987F1 {
    color: #F987F1;
    }

.text_color_D41515 {
    color: #D41515;
    }

.text_color_6DB2DE {
    color: #6DB2DE;
    }

.text_color_DD624A {
    color: #DD624A;
    }

.text_color_009CFF {
    color: #009CFF;
    }

.text_color_00D9FF {
    color: #00D9FF;
    }

.text_color_8EEEFF {
    color: #8EEEFF;
    }

.text_font_weight {
    font-weight: 400;
}

.text_font_weight_bold {
    font-weight: 700;
}

.header_navigationPanel {
    position: relative;
    width: 755px;
    height: 30px;
    top: 67px;
}

.header_navigationPanel_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.Header_button_menu {
    display: none;
}

.header_button_call {
    display: flex;
align-items: center;
justify-content: center;
position: relative;
width: 183px;
height: 50px;
top: 55px;
background: #2DBC7C;
border-radius: 8px;
border: solid 0;
font-size: 20px;
}

.text_normal_style {
    color: #FFFFFF;
    font-family: 'Tektur';
    font-style: normal;
}

.main_course {
    width: 1440px;
    height: 1250px;
    background: #1C1437;
    text-align: center;
    padding-top: 45px;
}

.main_course_title, .main_teachers_title, .main_reviews_title, .main_contacts_title {
    font-family: 'Tektur';
    font-style: normal;
    font-size: 96px;
    margin: 0 0 40px 0;
    
}

.main_course_cards_container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

.main_course_cards_item {
    display: flex;
    justify-content: center;
    width: 433px;
    height: 800px;
    background: linear-gradient(90deg, #624EFF 0%, #9990DB 100%);
    border-radius: 45px;
    padding-top: 14px;
    filter: drop-shadow(0px 4px 25px rgba(255, 255, 255, 0.5));
}

.main_course_card_frontend, .main_course_card_backend, .main_course_card_fullstack {
    background: linear-gradient(90deg, #221842 29.5%, #352665 100%);
    border-radius: 50px;
    width: 408px;
    height: 730px;
}

.course_card_image_frontend, .course_card_image_backend, .course_card_image_fullstack {
    position: relative;
    top: 23px;
    width: 132px;
    height: 132px;
    border-radius: 100px;
}

.course_text_frontend, .course_text_backend, .course_text_fullstack {
    color: #FFFFFF;
    font-family: 'K2D';
    font-style: italic;
    font-size: 32px;
    line-height: 45px;
    
}

.course_card_text {
    font-size: 26px;
    line-height: 45px;
    text-align: left;
    list-style-type: "- ";
}

.main_course_image_background {
    opacity: 0.8;
    box-shadow: inset 30px 0px 50px 50px #1C1437;
    border-radius: 500px 0px 0px 0px;
    width: 959px;
    height: 605px;
    position: absolute;
    left: 713px;
    top: 850px;
}

.footer {
    width: 1440px;
    height: 256px;
    background: #221842;
    font-family: 'Tektur';
    font-style: normal;
    font-size: 48px;
    line-height: 85px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}